// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$font-family: 'NunitoSans', sans-serif;
$body-font-family: 'NunitoSans', serif;
$border-radius-root: 6px;
$font-size-root: 18px;
$primary: #4caf50;
$secondary: #ffeb3b;
$accent: #ff5722;
$error: #f44336;
$info:#ffeb3b;
$disabledwhite: #000000
